@font-face {
    font-family: 'Ander Hedge';
    src: url('fonts/AnderHedgeRegular.woff2') format('woff2'),
        url('fonts/AnderHedgeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a
{
    text-decoration: none;
}
#top
{
    border: 1px solid black;
    height: 50px;
    width: 110%;
    background: black;
    left: -5px;
    top: 0px;
    position: fixed;
    z-index: 10;
}
#sideMenuButton
{
    margin-top: 3px;
    border: 0px solid white;
    height: 40px;
    width: 40px;
    position: relative;
}
#logo
{
    margin-left: 40px;
    margin-top: -42px;
    position: relative;
    height: 50px;
    width: 30px;
    border: 0px solid white
}
#menu
{
    border: 0px solid red;
    margin-top: -42px;
    margin-left: 80px;
}
.gamesDropButton
{
    background-color: black;
    color: white;
    font-size: 25pt;
    border: 1px solid black;
    font-family: Ander Hedge;

}
.gamesdropdown
{
    position: relative;
    display: inline-block;
}
.gamesdropdown-content
{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rbga(0,0,0, 0.2);
    z-index: 1;
    font-family: Ander Hedge;
    font-size: 15pt;
}
.gamesdropdown-content a
{
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.gamesdropdown-content a:hover
{
    color: #E38A46;
}
.gamesdropdown:hover .gamesdropdown-content
{
    display: block;
}
.aboutDropButton
{
    background-color: black;
    color: white;
    font-size: 25pt;
    border: 1px solid black;
    font-family: Ander Hedge;

}
.aboutdropdown
{
    position: relative;
    display: inline-block;
}
.aboutdropdown-content
{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rbga(0,0,0, 0.2);
    z-index: 1;
    font-family: Ander Hedge;
    font-size: 15pt;
}
.aboutdropdown-content a
{
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.aboutdropdown-content a:hover
{
    color: #E38A46;
}
.aboutdropdown:hover .aboutdropdown-content
{
    display: block;
}
.supportDropButton
{
    background-color: black;
    color: white;
    font-size: 25pt;
    border: 1px solid black;
    font-family: Ander Hedge;

}
.supportdropdown
{
    position: relative;
    display: inline-block;
}
.supportdropdown-content
{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rbga(0,0,0, 0.2);
    z-index: 1;
    font-family: Ander Hedge;
    font-size: 15pt;
}
.supportdropdown-content a
{
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.supportdropdown-content a:hover
{
    color: #E38A46;
}
.supportdropdown:hover .supportdropdown-content
{
    display: block;
}
.subscribe
{
    background-color: black;
    color: white;
    font-size: 25pt;
    border: 1px solid black;
    font-family: Ander Hedge;
}

#featured
{
    border: 0px solid black;
    height: 600;
    width: 110%;
    margin-left: -8px;
    margin-top: 52px;
    font-family: Ander Hedge;
    text-align: center;
    font-size: 50pt;
    line-height: 8;
    background: #67c4a3;
}
#featuredGames
{
    border-bottom: 1px solid #cacaca;
    height: 740px;
    width: 110%;
    margin-left: -8px;
    background: #e7e7e7;
}
#featuredGamesTitle
{
    border: 0px solid black;
    height: 90px;
    width: 800px;
    margin: 0 auto;
    font-family: Ander Hedge;
    color: black;
    text-align: center;
    font-size: 35pt;
    line-height: 1.75;
}
.lineSeperator
{
    height: 5px;
    width: 400px;
    margin: 0 auto;
    border: 0px solid green;
    background: url(../images/formating/line-seperator.png);
}
#featuredBoxes
{
    border: 0px solid black;
    height: 535px;
    width: 75%;
    position: relative;
    margin: 5 auto;
}
#featuredGamesTd
{
    border: 0px solid black;
    height: 250px;
    width: 250px;
    text-align: center;
    font-family: Ander Hedge;
    background: #e38946;
}
#gamesButton
{
    border: 0px solid black;
    height: 40px;
    width: 150px;
    margin: 0 auto;
}
.gamesButton
{
    border: none;
    height: 40px;
    width: 150px;
    background: url(../images/grey_button.png) no-repeat;
    font-family: Ander Hedge;
    font-size: 15pt;
}
#latestUpdates
{
    border-top: 1px solid #cacaca;
    height: 950px;
    width: 110%;
    margin-left: -8px;
    margin-top: 0px;
    background: #e7e7e7;
}
#latestUpdatesTitle
{
    border: 0px solid black;
    height: 90px;
    width: 800px;
    margin: 0 auto;
    font-family: Ander Hedge;
    color: black;
    text-align: center;
    font-size: 35pt;
    line-height: 1.75;
}
#updatesBox
{
    border: 0px solid black;
    height: 735px;
    width: 75%;
    position: relative;
    margin: 5 auto; 
}
#latestUpdatesTd
{
    border: 0px solid black;
    width: 250px;
    height: 365px;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 8px 16px 0px rbga(0, 0, 0, 0.2);
    
}
#updatesButton
{
    border: 0px solid black;
    height: 40px;
    width: 150px;
    margin: 20 auto;
    position: relative;
    margin-top: 60px;
    
}
.updateButton
{
    border: none;
    margin: auto;
    height: 40px;
    width: 150px;
    background: url(../images/grey_button.png) no-repeat;
    font-family: Ander Hedge;
    font-size: 15pt;
}
#updateImage
{
    border: 0px solid black;
    height: 150px;
    width: 252px;
    margin-top: -182px;
    margin-left: -1px;
    background: #b24825;
    position: absolute;
    text-align: center;
    line-height: 9;
    font-family: Ander Hedge;
}
#updatesDate
{
    border: 0px solid black;
    height: 25px;
    width: 250px;
    margin-top: -30px;
    margin-left: -1px;
    position: absolute;
    text-align: left;
    font-family: Ander Hedge;
    padding: 3px;
    
}
#updatesTitle
{
    border: 0px solid black;
    height: 45px;
    width: 250px;
    margin-top: 0px;
    margin-left: -1px;
    position: absolute;
    font-family: Ander Hedge;
    font-size: 20pt;
}
#updatesInfo
{
    border: 0px solid black;
    height: 180px;
    width: 250px;
    position: absolute;
    margin-left: -1px;
    margin-top: 45px;
    font-family: Ander Hedge;
    font-size: 15pt;
}
#bottomMenu
{
    border: 1px solid black;
    height: 350px;
    width: 110%;
    margin-left: -8px;
    background: black
}
#topBottom
{
    border: 0px solid red;
    height: 150px;
    width: 110%;
    margin-left: -8px;
    background: black;
}
#secondMenu
{
    border: 0px solid yellow;
    height: 60px;
    width: 110%;
    margin-left: -8px;
    font-family: Ander Hedge;
    color: white;
    line-height: 3;
    font-size: 16pt;
}
#executives
{
    border: 0px solid white;
    height: 60px;
    width: 150px;
    margin-left: 240px;
    text-align: center;
}
#press
{
    border: 0px solid white;
    height: 60px;
    width: 150px;
    margin-left: 350px;
    margin-top: -62px;
    text-align: center;
}
#investors
{
    border: 0px solid white;
    height: 60px;
    width: 150px;
    margin-left: 460px;
    margin-top: -62px;
    text-align: center;
}
#playtesting
{
    border: 0px solid white;
    height: 60px;
    width: 150px;
    margin-left: 590px;
    margin-top: -62px;
    text-align: center;
    
}
#bottomLogo
{
    border: 0px solid white;
    height: 320px;
    width: 400px;
    margin-top: -130px;
    background: url(../images/SaguaroGameSutdios.png) no-repeat;
    margin-left: 20px;
}
#whiteSeperator
{
    border: 1px solid white;
    height: 2px;
    width: 1000px;
    margin-left: 240px;
    margin-top: -290px;
    background: url(../images/formating/whiteSeperator.png) no-repeat;
    position: relative;
}
#browseGames
{
    border: 1px solid black;
    height: 20px; 
    width: 150px;
    text-align: center;
    font-family: Ander Hedge;
    color: white;
    font-size: 15pt;
    position: relative;
    margin-left: 240px;
    margin-top: 150px;
}
#thirdAbout
{
    border: 1px solid black;
    height: 20px; 
    width: 150px;
    text-align: center;
    font-family: Ander Hedge;
    color: white;
    font-size: 15pt;
    position: relative;
    margin-left: 330px;
    margin-top: -20px;
}
#thirdSupport
{
    border: 1px solid black;
    height: 20px; 
    width: 150px;
    text-align: center;
    font-family: Ander Hedge;
    color: white;
    font-size: 15pt;
    position: relative;
    margin-left: 410px;
    margin-top: -20px;
}
#subscriptionUpdate
{
 border: 1px solid black;
    height: 20px; 
    width: 150px;
    text-align: center;
    font-family: Ander Hedge;
    color: white;
    font-size: 15pt;
    position: relative;
    margin-left: 525px;
    margin-top: -20px;   
}
#fourth
{
    border: 0px solid white;
    height: 60px;
    width: 500px;
    position: relative;
    margin-left: 265px;
    margin-top: 30px;
}
#legal
{
    border: 0px solid white;
    height: 20px;
    width: 30px;
    font-family: Ander Hedge;
    font-size: 10pt;
    color: white;
}
#userAgreement
{
    border: 0px solid white;
    height: 20px;
    width: 100px;
    font-family: Ander Hedge;
    font-size: 10pt;
    color: white;
    margin-top: -20px;
    margin-left: 50px;
    
}
#privacyPolicy
{
    border: 0px solid white;
    height: 20px;
    width: 100px;
    font-family: Ander Hedge;
    font-size: 10pt;
    color: white;
    margin-top: -20px;
    margin-left: 150px;
    
}
#copyRight
{
    border: 0px solid white;
    height: 20px;
    width: 200px;
    font-family: Ander Hedge;
    color: white;
    font-size: 10pt;
    margin-left: 265px;
}
.dropDown
{
    border: 0px solid black;
    height:90px;
    width: 200;
    padding: 5px;
    margin-top: 5px;
    position: fixed;
    display: inline-block;
}
#gamesDropDown
{
    text-align: left;
    height: 120px;
    width: 250px;
    border: 0px solid black;
    background: white;
    opacity: 80%;
    position: relative;
    z-index: 1;
    min-width: 200px;
    display: block;
    margin-left: 35px;
    margin-top: -4px;
}
#aboutDropDown
{
    text-align: left;
    height: 120px;
    width: 250px;
    border: 0px solid black;
    background: white;
    opacity: 80%;
    position: relative;
    z-index: 1;
    min-width: 200px;
    display: none;
    margin-left: 175px;
    margin-top: -4px;
}
.dropDownContent a
{
    color: black;
    font-size: 18pt;
    text-decoration: none;
    font-family: Ander Hedge;
    display: block;
    padding: 5px;
    z-index: 3;
    
}
.dropDownContent a:hover
{
    color: #e38a46;
}
.button
{
    background: white;
    opacity: 100%;
    border: none;
    font-family: Ander Hedge;
    color: black;
    font-size: 15pt;
}