@font-face {
    font-family: 'Kasattack';
    src: url('fonts/Kasattack-Regular.woff2') format('woff2'),
        url('fonts/Kasattack-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adventure Subtitles';
    src: url('fonts/AdventureSubtitles.woff2') format('woff2'),
        url('fonts/AdventureSubtitles.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ander Hedge';
    src: url('fonts/AnderHedgeRegular.woff2') format('woff2'),
        url('fonts/AnderHedgeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
    min-width: 
}
#top
{
    border: 1px solid black;
    height: 50px;
    width: 110%;
    background: black;
    left: -5px;
    top: 0px;
    position: fixed;
}
#title
{
    color: white;
    font-family: Kasattack;
    font-size: 30pt;
    margin-left: 10px;

}
.logo
{
    border: none;
    background: url(../images/menu/saguaro.png) no-repeat;
    height: 50px;
    width: 30px;
    margin-left: 45px;
}
#menuButton
{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    margin-top: -45px;
    margin-left: 4px;
}
.menuButton
{
    background: url(../images/menu/menubutton.png) no-repeat;
    height: 40px;
    width: 40px;
    border: none;
}
#menu
{
    border: 0px solid red;
    height: 40px;
    width: 900px;
    font-family: Ander Hedge;
    font-size: 30pt;
    color: white;
    margin-left: 50px;
    top: -42px;
    position: relative;
}
#games
{
    border: 0px solid white;
    height: 40px;
    width: 150px;
    margin-left: 40px;
}
#about
{
    border: 0px solid red;
    height: 40px;
    width: 150px;
    margin-left: 180px;
    margin-top: -40px;
}
#support
{
    border: 0px solid red;
    height: 40px;
    width: 150px;
    margin-left: 310px;
    margin-top: -40px;
}
#subscribe
{
    border: 0px solid red;
    height: 40px;
    width: 150px;
    margin-left: 470px;
    margin-top: -40px;   
}
#socialMedia
{
    border: 0px solid red;
    height: 40px;
    width: 220px;
    margin-left: calc(75vw/2 + 1010px/ 2);
    margin-top: -40px;
    
}
#twitter
{
    border: 1px solid black;
    position: relative;
    height: 40px;
    width: 40px;
}
#instagram
{
    border: 1px solid black;
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 42px;
    margin-top: -42px;
}
#facebook
{
    border: 1px solid black;
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 84px;
    margin-top: -42px;
}
#linkedin
{
    border: 1px solid black;
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 126px;
    margin-top: -42px;
}
#snapchat
{
    border: 1px solid black;
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 168px;
    margin-top: -42px;
}
.dropDownButton
{
    background: url(../images/menu/dropDownbutton.png) no-repeat;
    height: 20px;
    width: 30px;
    border: 0px solid red;
    margin-top: -27px;
}
.socialButtons
{
    height: 40px;
    width: 40px;
    border: none;
}
#spacer
{
    border: 0px solid black;
    height: 20px;;
    margin-top: 50px;
    margin-left: -8px;
    width: 110%;
}
#featured
{
    border: 0px solid black;
    height: 600;
    width: 110%;
    margin-left: -8px;
    margin-top: 52px;
    font-family: Ander Hedge;
    text-align: center;
    font-size: 50pt;
    line-height: 8;
    background: #67c4a3;
}
#largeLogo
{
    border: 1px solid red;
    height: 87px;
    margin-left: 10px;
    top: 80px;
}
.largeLogo
{
    background: url(../images/SaguaroGames.png) no-repeat;
    height: 150px;
    width: 93px;
    border: none;
}
#featuredGames
{
    border: 0px solid black;
    height: 690px;
    width: 110%;
    margin-left: -8px;
    background: #e7e7e7;
}
#featuredGamesTitle
{
    border: 0px solid black;
    height: 90px;
    width: 800px;
    margin: 0 auto;
    font-family: Ander Hedge;
    color: black;
    text-align: center;
    font-size: 35pt;
    line-height: 1.75;
}
.lineSeperator
{
    height: 5px;
    width: 400px;
    margin: 0 auto;
    border: 0px solid green;
    background: url(../images/formating/line-seperator.png);
}
#featuredBoxes
{
    border: 0px solid black;
    height: 535px;
    width: 75%;
    position: relative;
    margin: 5 auto;
}
.featuredGameBox
{
    border: 1px solid black;
    height: 250px;
    width: 250px;
    position: relative;
    margin: 10 auto;

}
#featuredGamesTd
{
    border: 1px solid black;
    height: 250px;
    width: 250px;
    text-align: center;
    font-family: Ander Hedge;
    background: #e38946;
}
#gamesButton
{
    border: 0px solid black;
    height: 40px;
    width: 150px;
    margin: 0 auto;
}
.gamesButton
{
    border: none;
    height: 40px;
    width: 150px;
    background: url(../images/grey_button.png) no-repeat;
    font-family: Ander Hedge;
    font-size: 15pt;
}
#latestUpdates
{
    border: 0px solid black;
    height: 800px;
    width: 110%;
    margin-left: -8px;
    margin-top: 0px;
}
#latestUpdatesTitle
{
    border: 0px solid black;
    height: 90px;
    width: 800px;
    margin: 0 auto;
    font-family: Ander Hedge;
    color: black;
    text-align: center;
    font-size: 35pt;
    line-height: 1.75;
}
#updatesBox
{
    border: 0px solid black;
    height: 735px;
    width: 75%;
    position: relative;
    margin: 5 auto; 
}
#latestUpdatesTd
{
    border: 0px solid black;
    width: 250px;
    height: 365px;
    margin: 0 auto;
}
#updatesButton
{
    border: 0px solid black;
    height: 40px;
    width: 150px;
    margin: 20 auto;
    
}
.updateButton
{
    border: none;
    margin: auto;
    height: 40px;
    width: 150px;
    background: url(../images/button.png) no-repeat;
    font-family: Ander Hedge;
    font-size: 15pt;
}
#updateImage
{
    border: 0px solid black;
    height: 150px;
    width: 250px;
    margin-top: -182px;
    margin-left: -1px;
    background: #b24825;
    position: absolute;
    text-align: center;
    line-height: 9;
    font-family: Ander Hedge;
}
#updatesDate
{
    border: 0px solid black;
    height: 25px;
    width: 250px;
    margin-top: -30px;
    margin-left: -1px;
    position: absolute;
    text-align: left;
    font-family: Ander Hedge;
    padding: 3px;
    
}
#updatesTitle
{
    border: 0px solid black;
    height: 45px;
    width: 250px;
    margin-top: 0px;
    margin-left: -1px;
    position: absolute;
    font-family: Ander Hedge;
    font-size: 20pt;
}
#updatesInfo
{
    border: 0px solid black;
    height: 180px;
    width: 250px;
    position: absolute;
    margin-left: -1px;
    margin-top: 45px;
    font-family: Ander Hedge;
    font-size: 15pt;
}
